body {
  font-family: Arial;
  background: #e0f7fa;
  text-align: center;
  padding: 40px;
}
.dashboard {
  background: white;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
}
button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
}
