body {
  font-family: Arial;
  background: #e8f5e9;
  padding: 30px;
}
h2 {
  text-align: center;
}
#quiz-container {
  margin: 20px;
}
button {
  padding: 10px 20px;
  background: #388e3c;
  color: white;
  border: none;
  border-radius: 5px;
  display: block;
  margin: auto;
}
