body {
  font-family: Arial;
  background: #fffde7;
  text-align: center;
  padding: 50px;
}
.subjects button {
  margin: 10px;
  padding: 15px 30px;
  background: #fbc02d;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}
